body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #2C3E7C;
    overflow: hidden;
}

img{
    height: 40%;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
}

#hom{
    position: absolute;
    left: 10%;
    top: 20%;
    cursor: pointer;
}

#mon{
    height: 20%;
}

@keyframes fall{
    to{
        transform: translateY(120vh) rotateX(360deg);

    }
}

.fall-mon {
    animation: fall 2s ease-in-out;
}

#snake{
    position: absolute;
    transition: all 0.1s ease-out;
    left: 50%;
    top: 20%;
}

#snake img{
    display: block;
    height: 100px; /* или сколько нужно */
}