@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Geist:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Seymour+One&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: #2C3E7C;
    overflow-x: hidden;
    position: absolute;
}

#about{
    position: absolute;
    left: 5%;
    top: 5%;
    font-family: 'Seymour One', sans-serif;
    color: white;
    font-size: 200%;
    transition: transform 0.1s, left 0.1s, top 0.1s, color 0.3s ease-in-out;
    user-select: none;
    cursor: pointer;
}

img{
    height: 80%;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
}

#hom{
    position: absolute;
    left: -20%;
    top: 20%;
    
    cursor: pointer;
    transform-origin: left bottom;
    animation: hom-rotate 2s linear infinite;
}

@keyframes hom-rotate{
    0% {
        transform: rotateZ(45deg);
    }
    50%{
        transform: rotateZ(35deg);
    }
    100%{
        transform: rotateZ(45deg);
    }
}

#mon{
    height: 20%;
}

@keyframes fall{
    to{
        transform: translateY(120vh) rotateX(360deg);

    }
}

.fall-mon {
    animation: fall 2s ease-in-out;
}

#snake{
    position: absolute;
    transition: all 0.1s ease-out;
    left: 80%;
    top: 100%;
    cursor: pointer;
}

#snake img{
    display: block;
    height: 150px;
}

#start-image{
    position: absolute;
    height: 60%;
    left: 65%;
    top: 15%;
    cursor: pointer;
}


@keyframes rotate-stupid{
    to{
        transform: rotateZ(360deg);
    }
}

.rotate-st{
    animation: rotate-stupid 2s linear infinite;
}

#end{
    width: 50%;
    position: absolute;
    left: 25%;
    bottom: -73%;
    cursor: pointer;
}